{% include 'top.html' %}
    <div class="content">
        <h1 class="title">Search Artists</h1>

        <form class="Search" method="POST" action="{{url_for('search_artists')}}">
            <input type="text" name="searchterm" placeholder="Artist" autofocus required>
            <button class="flat" type="submit">Search</button>
        </form>
            {% if artists | length > 0 %}
                <!-- All Artists -->
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Artist ID</td>
                            <td>Artist Title</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in artists %}
                            <!-- Each row is a link to each individual artist page -->
                            <tr class="clickable-tr" data-href="{{ url_for('single_artist', artist_id=instance.artist_id)}}">
                                <td style="text-align: center">{{ instance.artist_id }}</td>
                                <td>{{instance.artist_name}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            {% endif %}
    </div>
{% include 'bottom.html'%}