{% include 'top.html' %}
<div class="content">
    <div class="container details">
        <!--  Example of a table with clickable rows:
        <table class="styled">
                    <thead>
                        <tr>
                            <td>Column 1 Heading - Usually an ID </td>
                            <td>Column 2 Heading</td>
                                      .
                                      .
                                      .
                            <td>Column n Heading</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in some_input_array %}
                        <tr class="clickable-tr" data-href="{{ url_for('single_item_target', target_id=instance.single_item_target_id)}}">
                            <td style="text-align: center">{{ instance.single_item_target_id }}</td>
                            <td>{{instance.item_corresponding_to_column_2}}</td>
                                      .
                                      .
                                      .
                            <td>{{instance.item_corresponding_to_column_n}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
        -->
        <!-- TODO Query (10) -->
        <!-- First check should be a valid instance -->
        <!-- Second check should be what type of genre? -->
        {% if genre_list | length > 0 %}
            <h2 class="title"> Genre: {{gen_val}}</h2>
            <br/>
            {% if genre_name == 'song genre' %}
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Song ID</td>
                            <td>Song Title</td>
                            <td>Type</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in genre_list %}
                        <tr class="clickable-tr" data-href="{{ url_for('single_song', song_id = instance.song_id)}}">
                            <td style="text-align: center">{{ instance.song_id }}</td>
                            <td>{{instance.song_title}}</td>
                            <td>{{instance.type}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if genre_name == 'podcast genre' %}
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Podcast ID</td>
                            <td>Podcast Title</td>
                            <td>Type</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in genre_list %}
                        <tr class="clickable-tr" data-href="{{ url_for('single_podcast', podcast_id = instance.podcast_id)}}">
                            <td style="text-align: center">{{ instance.podcast_id }}</td>
                            <td>{{instance.podcast_title}}</td>
                            <td>{{instance.type}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if genre_name == 'film genre' %}
                <table class="styled">
                    <thead>
                        <tr>
                            <td>Media ID</td>
                            <td>Media Title</td>
                            <td>Type</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instance in genre_list %}
                            {% if instance.type == 'tvshow' %}
                                <tr class="clickable-tr" data-href="{{ url_for('single_tvshow', tvshow_id = instance.media_id)}}">
                                    <td style="text-align: center">{{ instance.media_id }}</td>
                                    <td>{{instance.media_title}}</td>
                                    <td>{{instance.type}}</td>
                                </tr>
                            {% else %}
                                <tr class="clickable-tr" data-href="{{ url_for('single_movie', movie_id = instance.media_id)}}">
                                    <td style="text-align: center">{{ instance.media_id }}</td>
                                    <td>{{instance.media_title}}</td>
                                    <td>{{instance.type}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% else %}
            <h2 class="title"> Invalid Genre ID</h2>
        {% endif %}
    </div>
</div>
{% include 'bottom.html'%}
